{% extends 'base_generic.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Main | {{ project.name }}{% endblock %}

{% block content %}
    {% csrf_token %}

    <div class="card col-3 bg-dark rounded p-0">
        <div class="card-body bg-dark">
            <h5 class="card-title">{{ project.name }}</h5>

            <h6 class="card-subtitle mb-2 text-body-secondary">Status: {{ project.status }}
                <span class="status-circle ms-1
                    {% if project.status == 'active' %}status-active
                    {% elif project.status == 'completed' %}status-completed
                    {% elif project.status == 'archived' %}status-archived
                    {% else %}status-default{% endif %}">
                </span>
            </h6>

            <p class="card-text">{{ project.description }}</p>

            <div>
                <p class="m-0">
                    Owner:
                    {% if project.owner.avatar %}
                        <img class="owner-avatar rounded" src="{{ project.owner.avatar.url }}" alt="User Avatar">
                    {% else %}
                        <img class="owner-avatar rounded" src="{% static 'avatars/default-avatar.jpg' %}" alt="Default Avatar">
                    {% endif %}
                    {{ project.owner.username }}
                </p>
                <p class="m-0">Start: {{ project.start_date | date:"d.m.Y" }}</p>
                <p class="m-0">Members: {{ members | length }}</p>
                <p class="m-0">Tasks count: {{ tasks | length }}</p>
                <p class="m-0">Progress: 45%</p>
                <p class="m-0">Time spent: 14h</p>
            </div>

            <div class="d-flex flex-column justify-content-around">
                <a
                    href="#"
                    class="btn-common btn-lg btn btn-outline-primary my-3"
                    data-bs-toggle="modal" data-bs-target="#createTaskModal"
                >
                    <i class="bi bi-plus-square-fill m-0 me-2"></i>
                    Create task
                </a>

                <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#addMemberModal"
                    class="btn-okay btn-lg btn btn-outline-primary mb-3"
                >
                    <i class="bi bi-person-fill-add m-0 me-2"></i>
                    Add member
                </a>

                <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#leaveProjectModal"
                    class="btn-fail btn-lg btn btn-outline-primary">
                    <i class="bi bi-x-circle-fill m-0 me-2"></i>
                    Leave project
                </a>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="project-history row">
            <div class="history-tree col bg-dark p-3 rounded">

                <div class="history-center my-2">
                    <div class="item-content">
                        <h5>Project was created <span class="small">{{ history_items.0.timestamp|date:"m.d.y H:i" }}</span></h5>
                    </div>
                </div>

                {% for item in history_items|slice:"1:" %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="history-left px-3">
                            <div class="item-content">
                                <p>
                                    {% if item.action == 'create' %}
                                        {{ item.description }} by {{ item.user }}
                                    {% else %}
                                        {{ item.description }}
                                    {% endif %}
                                </p>
                                <p class="item-content-date small m-0 px-3">{{ item.timestamp|date:"m.d.y H:i" }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="history-right px-3 {% if forloop.first %}first{% endif %}">
                            <div class="item-content">
                                <p>
                                    {% if item.action == 'create' %}
                                        {{ item.description }} by {{ item.user }}
                                    {% else %}
                                        {{ item.description }}
                                    {% endif %}
                                </p>
                                <p class="item-content-date small m-0 px-3">{{ item.timestamp|date:"m.d.y H:i" }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="row mt-3" style="height: 32vh; box-sizing: content-box; overflow: hidden">
            <div class="col bg-dark p-3 pb-0 rounded">
                <h5>Team</h5>
                <ul class="list-unstyled" style="max-height: 25vh; overflow-y: auto;">
                    {% for member in members %}
                        <li>
                            <a href="#" class="team-member-link d-flex align-items-center justify-content-between text-decoration-none me-3">
                                <div class="d-flex align-items-center">
                                    {% if member.user.avatar %}
                                        <img class="member-avatar me-2" src="{{ member.user.avatar.url }}" alt="User Avatar">
                                    {% else %}
                                        <img class="member-avatar me-2" src="{% static 'avatars/default-avatar.jpg' %}" alt="Default Avatar">
                                    {% endif %}
                                    <span class="member-name">{{ member.user }}</span>
                                </div>
                                <div class="text-end pe-3">
                                    <span class="member-role">{{ member.role }}</span>
                                    <span class="member-status ms-2">online</span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">

                <div class="modal-header">
                    <h5 class="modal-title" id="createTaskModalLabel"><i class="bi bi-file-earmark-plus-fill me-2"></i>Create New Task</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form id="createTaskForm" method="POST" action="{% url 'projects:create-task' project_id=project.id %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="taskTitle" class="form-label col-sm-2">Title</label>
                            <input type="text" class="form-control" id="taskTitle" name="title" required style="box-sizing: border-box">
                        </div>

                        <div class="mb-3">
                            <label for="taskDescription" class="form-label col-sm-2">Description</label>
                            <textarea class="form-control" id="taskDescription" name="description" rows="3" style="box-sizing: border-box"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="taskStatus" class="form-label">Status</label>
                            <select class="form-select" id="taskStatus" name="status" style="box-sizing: border-box">
                            {% for value, label in status_choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="taskPriority" class="form-label">Priority</label>
                            <select class="form-select" id="taskPriority" name="priority" style="box-sizing: border-box">
                            {% for value, label in priority_choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                            </select>
                        </div>

                       <div class="mb-3">
                            <label for="taskEstimate" class="form-label">Original Estimate</label>
                            <div id="timeEstimateControls" class="d-flex align-items-center">
                                <div class="btn-group me-2">
                                    <button type="button" class="btn btn-outline-secondary btn-common" id="addOneHour">+1h</button>
                                    <button type="button" class="btn btn-outline-secondary btn-common" id="addFiveMinutes">+5m</button>
                                </div>
                                <input type="text" class="form-control" id="taskEstimate" name="original_estimate" value="0h 0m" readonly>
                                <button type="button" class="btn btn-outline-danger ms-2 btn-fail" id="clearTime">Clear</button>
                            </div>
                       </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">

                <div class="modal-header">
                    <h5 class="modal-title" id="addMemberModalLabel"><i class="bi bi-info-square-fill me-2"></i>How to add members?</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>To invite members to this project, share the access code with them. They can use this code on the start page to join the project.</p>

                    <p>The access code for this project is:</p>
                    <pre class="bg-secondary text-white p-2 rounded m-0 text-center" style="font-size: 1.5rem">{{ project.access_key }}</pre>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="leaveProjectModal" tabindex="-1" aria-labelledby="leaveProjectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">

                <div class="modal-header">
                    <h5 class="modal-title" id="leaveProjectModalLabel"><i class="bi bi-x-circle-fill me-2"></i>Do you really want to leave the project?</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body d-flex align-items-center justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="/projects/leave-project/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="project_id" value="{{ project.id }}">
                        <button type="submit" class="btn btn-primary">Leave Project</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let totalHours = 0;
            let totalMinutes = 0;

            const addOneHourButton = document.getElementById('addOneHour');
            const addFiveMinutesButton = document.getElementById('addFiveMinutes');
            const clearButton = document.getElementById('clearTime');
            const timeInputField = document.getElementById('taskEstimate');

            function updateTime() {
                totalHours += Math.floor(totalMinutes / 60);
                totalMinutes = totalMinutes % 60;

                let timeString = `${totalHours}h ${totalMinutes}m`;

                timeInputField.value = timeString;
            }

            addOneHourButton.addEventListener('click', function() {
                totalHours += 1;
                updateTime();
            });

            addFiveMinutesButton.addEventListener('click', function() {
                totalMinutes += 5;
                updateTime();
            });

            clearButton.addEventListener('click', function() {
                totalHours = 0;
                totalMinutes = 0;
                updateTime();
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            const projectHistory = document.querySelector(".project-history");
            const beforeElement = document.createElement('div');

            const offset = 5

            beforeElement.style.position = 'absolute';
            beforeElement.style.top = `${offset}vh`;
            beforeElement.style.left = '50%';
            beforeElement.style.width = '2px';
            beforeElement.style.backgroundColor = '#DD6E42';
            beforeElement.style.padding = '0';

            const updateHeight = () => {
                const totalHeight = projectHistory.scrollHeight;
                beforeElement.style.height = `calc(${totalHeight}px - ${offset}vh)`;
            };

            projectHistory.appendChild(beforeElement);

            updateHeight();
            projectHistory.addEventListener('scroll', updateHeight);
            window.addEventListener('resize', updateHeight);
        });
    </script>
{% endblock %}
