[flake8]
extend-ignore = ANN002 ANN003 ANN102 ANN101 ANN001
suppress-none-returning=True
suppress-dummy-args=True
allow-star-arg-any=True
max-line-length = 120
exclude = admin.py, settings.py, .venv, migrations