{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}My Project{% endblock %}</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load widget_tweaks %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body style="background-color: var(--lighter-dark); color: var(--light); font-family: Rubik, sans-serif;">
    <header class="bg-dark sticky-top" style="height: 7vh">
        <nav class="d-flex align-items-center" style="height: 100%; padding-left: 15px;">
            <h4 class="mb-0" style="display: inline-block;">ProSync</h4>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Основной контент будет вставлен сюда -->
        {% endblock %}
    </main>

    <footer class="bg-dark fixed-bottom d-flex justify-content-center align-items-center" style="height: 7vh;">
        <p style="display: block; margin: 0 auto;">&copy; 2025 ProSync</p>
    </footer>

</body>
</html>