{% extends 'base_generic.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Login Page{% endblock %}

{% block content %}

<section class="text-center text-lg-start">
    <style>
        .cascading-right {
            margin-right: -50px;
        }

        @media (max-width: 950px) {
            .cascading-right {
                margin-right: 0;
            }
        }
    </style>

    <div class="container">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right bg-body-tertiary bg-dark" style="backdrop-filter: blur(30px);">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-3">Welcome back!</h2>
                        <form>
                            {% csrf_token %}

                            <div class="form-floating mb-3" style="color: var(--dark)">
                                {{ form.username|add_class:"form-control w-100"|attr:"placeholder:Enter your username"|attr:"id:username" }}
                                <label for="username">Username</label>
                            </div>

                            <div class="form-floating mb-3" style="color: var(--dark)">
                                {{ form.password|add_class:"form-control w-100"|attr:"placeholder:Enter your password"|attr:"id:password" }}
                                <label for="password">Password</label>
                            </div>

                            <div class="row mb-4">
                                <div class="col d-flex justify-content-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                                    </div>
                                </div>

                                <div class="col">
                                    <a href="#" style="color: #CCDDE2">Forgot password?</a>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary w-100" style="background-color: #DD6E42; border-color: #DD6E42">Sign me in!</button>

                            <div class="d-flex flex-column align-items-center justify-content-center text-center">
                                <p class="mb-2 mt-2">Don't have an account?

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path>
                                    </svg>

                                    <a href="/users/register/" style="color: #CCDDE2">Registration</a>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"></path>
                                    </svg>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="{% static 'Login.jpg' %}" class="rounded-4 shadow-4" alt="img" style="max-height: 86vh; border-radius: 0 30% 30% 0;  border-right: 5px solid var(--orange);"/>
            </div>
        </div>
    </div>
    </section>
{% endblock %}

